.header__image {
    margin-top: 20px;
    width: 52px;
    margin-bottom: 100px;
}

@media screen and (min-width: 578px) {
    .header__image {
        width: 64px;
    }
}
@media screen and (min-width: 992px) {
    .header__image {
        width: 112px;
    }
}