.header__image {
  margin-top: 36px;
  width: 52px;
  margin-bottom: 45px;
}

@media screen and (min-width: 578px) {
  .header__image {
    margin-top: 22px;
    width: 64px;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 992px) {
  .header__image {
    margin-top: 20px;
    width: 112px;
    margin-bottom: 100px;
  }
}
