@import url(./index/about.css);
@import url(./index/comments.css);
@import url(./index/course-program.css);
@import url(./index/footer.css);
@import url(./index/format.css);
@import url(./index/header.css);
@import url(./index/info.css);
@import url(./index/what-learn.css);
@import url(./index/how-watch.css);
@import url(./index/general.css);
@import url(./index/quote.css);

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Roboto Slab", serif; */
}

.container{
  margin: 0 auto;
  /* width: 90vw; */
  max-width: 1280px;
}

.container_padding-default-left{
  padding-left: 36px;
}

@media screen and (max-width: 992px) {
  .container{
    max-width: 740px;
  }
  .container_padding-default-left{
    padding-left: 22px;
  }
}

@media screen and (max-width: 578px) {
  .container{
    max-width: 310px;
  }
  .container_padding-default-left{
    padding-left: 0;
  }
}

/* Адаптация */
/* @media screen and (min-width: 578px) {
}
@media screen and (min-width: 992px) {
} */

/* Шрифты */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Roboto Slab", serif; */
